<!DOCTYPE html>
<style>

</style>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="container body-content">
                @RenderBody()
                <hr/>
                <footer>

                    <p>
                        <a class="otstup" href="https://vk.com/yourastyusha">
                            <img src="~/Content/images/vk.png" width="70"
                                 height="70" alt="Анастасия в вк">
                        </a>

                        <a href="https://www.instagram.com/polyashova66">
                            <img src="~/Content/images/insta.png" width="70"
                                 height="70" alt="Анастасия в инстаграм">
                        </a>
                    </p>

                    <p class="otstup">&copy; @DateTime.Now.Year</p>
                    
          

                </footer>
            </div>


    <ul>
        <li><a href="#">@Html.ActionLink("Главная", "Index", "Home") </a></li>
        <li><a href="#">@Html.ActionLink("Галерея фотографий", "Gallery", "Home")</a></li>
        <li><a href="#">@Html.ActionLink("Обо мне", "About", "Home")</a></li>
        <li><a href="#">@Html.ActionLink("Услуги", "Service", "Home")</a></li>
        <li><a href="#">@Html.ActionLink("Запись", "Entry", "Home")</a></li>
        <li><a href="#">@Html.ActionLink("Контакты", "Contact", "Home")</a></li>
    </ul>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
