<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" @*content="text/html; charset=utf-8"/*@>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <ul>
        <li><a >@Html.ActionLink("Главная", "Index", "Home") </a></li>
        <li><a >@Html.ActionLink("Галерея фотографий", "Gallery", "Home")</a></li>
        <li><a >@Html.ActionLink("Обо мне", "About", "Home")</a></li>
        <li><a >@Html.ActionLink("Услуги", "Service", "Home")</a></li>
        <li><a >@Html.ActionLink("Запись", "Entry", "Home")</a></li>
        <li><a >@Html.ActionLink("Контакты", "Contact", "Home")</a></li>
    </ul>
    <div class="niz"></div>
        @*<ul>
            <li>
                <a>@Html.ActionLink("Главная", "Index", "Home") </a>
                <pseudo:after><pseudo:after>
            </li>
            <li>
                <a>@Html.ActionLink("Обо мне", "About", "Home")</a>
                <pseudo:after><pseudo:after>
            </li>
            <li>
                <a>@Html.ActionLink("Галерея фотографий", "Gallery", "Home")</a>
                <pseudo:after><pseudo:after>
            </li>
            <li>
                <a>@Html.ActionLink("Услуги", "Service", "Home")</a>
                <pseudo:after><pseudo:after>
            </li>
            <li>
                <a>@Html.ActionLink("Запись", "Entry", "Home")</a>
                <pseudo:after><pseudo:after>
            </li>
            <li>
                <a>@Html.ActionLink("Контакты", "Contact", "Home")</a>
                <pseudo:after><pseudo:after>
            </li>
        </ul>*@
    @*------------Область для контакта и инстаграмма----------------------------------------------------*@
        <div class="container body-content">
            @RenderBody()
            <div class="niz"></div>
            <hr>
            <footer>

                <p>
                    <a href="https://vk.com/yourastyusha">
                        <img src="~/Content/images/vk.png" width="70"
                             height="70" alt="Анастасия в вк">
                    </a>

                    <a href="https://www.instagram.com/polyashova66">
                        <img src="~/Content/images/insta.png" width="70"
                             height="70" alt="Анастасия в инстаграм">
                    </a>
                </p>

                <p class="shrift">&copy; @DateTime.Now.Year</p>



            </footer>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
